#directory
dataset/auto_labeling_test/*
dataset/detail_contents/*

#HS html file
data_set/contents/**/*.html

#HS text file
data_set/all_contents_text/*.txt

#test tf-idf files
tf-idf_wc.py
hs_frequency.py
